@use 'src/app/styles/breakpoints' as *;
@use 'src/app/styles/sizes' as *;
@use 'src/app/styles/spacings' as *;

.container {
  padding: $space-lg 0;
  max-width: $screen-lg;
  margin: 0 auto;

  @media (max-width: $screen-md) {
    div {
      padding: 0 $space-md;
    }
  }
}

.btn {
  display: block;
  padding: $space-md;
  border-radius: $size-sm;
  width: fit-content;
  margin: $space-md 0;

  &-blue {
    background: linear-gradient(to right, #3b82f6 5%, #1d4ed8 60%);

    &:hover {
      background: linear-gradient(to right, #60a5fa 5%, #2563eb 60%);
    }
  }

  &-red {
    background: linear-gradient(to right, #b91c1c 5%, #7f1d1d 60%);

    &:hover {
      background: linear-gradient(to right, #dc2626 5%, #991b1b 60%);
    }
  }

  &-black {
    background-color: #0f172a;

    &:hover {
      background-color: #1e293b;
    }
  }
}

.text-red {
  color: #dc2626;
}

.text-blue {
  color: #2563eb;
}

.block {
  display: block;
}

.hidden {
  display: none;
}
