<section class="inventory container">
  <section class="inventory-tabs">
    <div
      (click)="onSelectGame(game.id)"
      *ngFor="let game of games$ | async"
      class="inventory-tabs-item"
      [class.inventory-tabs-item-active]="game.id === selectedGameId"
    >
      {{ game.title }}
    </div>
  </section>

  <section class="inventory-filter">
    <label>
      Looking for specific item?
      <input (ngModelChange)="onFilter()" [(ngModel)]="filter" type="text" />
    </label>
  </section>

  <section class="inventory-items">
    <div
      (click)="onSelectItem(item)"
      *ngFor="let item of marketItems$ | async"
      class="inventory-items-cell"
    >
      <img [src]="asset(item.image.id)" alt="Item image" />
    </div>
  </section>

  <section *ngIf="selectedItem$ | async as item" class="inventory-item-detail">
    <img [src]="asset(item.image.id)" alt="Item image" />
    <h2 class="inventory-item-detail-name">{{ item.name }}</h2>
    <p class="inventory-item-detail-description">
      {{ item.description }}
    </p>
    <p class="inventory-item-detail-tags">
      Tags: {{ commaSpaceCategory(item) }}
    </p>
  </section>

  <section class="inventory-pagination">
    <button (click)="onPrev()" class="btn btn-black"><</button>
    <span>{{ page }} / {{ totalPages }}</span>
    <button (click)="onNext()" class="btn btn-black">></button>
  </section>
</section>
