@use 'src/app/styles/spacings' as *;
@use 'src/app/styles/components' as *;

.wishlist {
  &-list {
    &-item {
      display: flex;
      justify-content: space-between;
      padding: $space-md;
      background-color: rgba(0, 0, 0, 0.2);
      margin: $space-md 0;

      &-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: auto;
          height: 100px;
          margin-right: $space-md;
        }

        &-detail {
          width: 100%;

          &-tags {
            span {
              @include tag;
            }
          }
        }
      }
    }
  }

  &-actions {
    app-submit-button {
      margin-left: $space-md;
    }
  }
}
