<section class="community container">
  <section class="community-tabs">
    <button
      class="btn btn-black"
      routerLink="/community/images-and-videos"
      routerLinkActive="btn-blue"
    >
      Images and Videos
    </button>
    <button
      class="btn btn-black"
      routerLink="/community/reviews"
      routerLinkActive="btn-blue"
    >
      Reviews
    </button>
    <button
      class="btn btn-black"
      routerLink="/community/discussions"
      routerLinkActive="btn-blue"
    >
      Discussions
    </button>
  </section>

  <app-community-images-and-videos
    *ngIf="currentTab === 'images-and-videos'"
  ></app-community-images-and-videos>
  <app-community-reviews
    *ngIf="currentTab === 'reviews'"
  ></app-community-reviews>
  <app-community-discussions
    *ngIf="currentTab === 'discussions'"
  ></app-community-discussions>
</section>
