<nav>
  <div>
    <a routerLink="/">
      <img alt="Logo Steam" src="assets/logo_steam.svg" />
    </a>

    <div class="navigations">
      <a routerLink="/store">Store</a>
      <a>Community</a>
      <a *ngIf="user">{{ user?.displayName }}</a>
      <a *ngIf="user" routerLink="/chat">Chat</a>
      <a *ngIf="!user">About</a>
      <a>Support</a>

      <div *ngIf="user" class="dropdown">
        <span class="dropdown-header">
          <span>
            <a href="#">{{ user?.displayName }}</a>
            <a routerLink="/top-up">
              {{ user?.walletBalance | currency: "$" }}
            </a>
          </span>
          <img [src]="profilePicture" alt="Profile Picture" height="42" />
        </span>

        <div class="dropdown-list">
          <a
            *ngIf="user?.accountName === 'Admin'"
            class="dropdown-list-item"
            routerLink="/admin"
          >
            Admin
          </a>
          <a routerLink="/streaming" class="dropdown-list-item">Streaming</a>
          <a
            [routerLink]="['/profile', user?.customUrl]"
            class="dropdown-list-item"
          >
            View Profile
          </a>
          <button (click)="onLogout()" *ngIf="user" class="dropdown-list-item">
            Logout
          </button>
        </div>
      </div>

      <a *ngIf="!user" routerLink="/login">Login</a>
    </div>
  </div>
</nav>
