<form [formGroup]="registerForm">
  <label for="email">
    Email Address
    <small
      *ngIf="
        registerForm.touched && registerForm.controls.email.errors?.required
      "
      class="text-red"
    >
      This field is required
    </small>
    <small
      *ngIf="registerForm.touched && registerForm.controls.email.errors?.email"
      class="text-red"
    >
      Wrong email format
    </small>
    <input formControlName="email" id="email" type="email" />
  </label>
  <label for="email-confirm">
    Confirm your Address
    <small
      *ngIf="
        registerForm.touched &&
        registerForm.controls.emailConfirm.errors?.required
      "
      class="text-red"
    >
      This field is required
    </small>
    <small
      *ngIf="
        registerForm.touched && registerForm.controls.emailConfirm.errors?.email
      "
      class="text-red"
    >
      Wrong email format
    </small>
    <input formControlName="emailConfirm" id="email-confirm" type="email" />
  </label>
  <label for="country">
    Country of Residence
    <small
      *ngIf="
        registerForm.touched && registerForm.controls.countryId.errors?.required
      "
      class="text-red"
    >
      This field is required
    </small>
    <select formControlName="countryId">
      <option
        *ngFor="let country of countries"
        [value]="country.id"
        id="country"
      >
        {{ country.name }}
      </option>
    </select>
  </label>
  <re-captcha
    (resolved)="isCaptchaPassed = true"
    siteKey="6Le6GCwaAAAAAIEc9Iw9p8PgRHEj2sTzLdE_Exrp"
  ></re-captcha>
  <small *ngIf="registerForm.touched && !isCaptchaPassed" class="text-red">
    Please pass this captcha first
  </small>
  <label>
    <input formControlName="agree" type="checkbox" />
    I am 13 years old or older and agree to the terms of the Steam Subscriber
    Agreement and the Value of Privacy Policy.
  </label>
  <app-submit-button
    (click)="onSubmit()"
    [loading]="isLoading"
    class="btn btn-blue"
    type="submit"
  >
    Submit
  </app-submit-button>
</form>
