@use 'src/app/styles/spacings' as *;
@use 'src/app/styles/mixins' as *;

.home-community-recommended {
  margin: $space-lg auto;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;

  &-carousel {
    @include shadow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $space-md;

    &-banner {
      @include shadow;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &-left,
    &-right {
      margin: $space-md;
      cursor: pointer;
    }
  }
}
