<section
  [ngStyle]="{ backgroundColor: profile?.profileTheme }"
  class="profile container"
>
  <div class="profile-information">
    <img
      [src]="profilePicture"
      alt="Profile Picture"
      class="profile-information-picture-image"
      width="auto"
    />
    <h2 class="profile-information-display-name">{{ profile?.displayName }}</h2>
    <p class="profile-information-summary">{{ profile?.summary }}</p>
    <p class="profile-information-level">Level {{ profile?.level }}</p>

    <div *ngIf="user" class="profile-information-actions">
      <app-submit-button
        (click)="onStartChat(user.id)"
        *ngIf="isFriend"
        [queryParams]="{ accountName: profile?.accountName }"
        [routerLink]="['/chat']"
        class="btn btn-blue"
      >
        Start Chat
      </app-submit-button>
      <app-submit-button
        (click)="onBefriend(profile?.id)"
        *ngIf="user?.id !== profile?.id && !isFriendRequested && !isFriend"
        [loading]="isLoading"
        class="btn btn-blue"
      >
        Add Friend
      </app-submit-button>
      <app-submit-button
        (click)="isReporting = true"
        *ngIf="user?.id !== profile?.id"
        [loading]="isLoading"
        class="btn btn-red"
      >
        Report
      </app-submit-button>
      <a
        *ngIf="profile?.id === user?.id"
        [routerLink]="['/profile', 'edit', profile?.customUrl]"
        class="btn btn-black"
      >
        Edit Profile
      </a>
    </div>
  </div>

  <h2>Games</h2>
  <section class="profile-games">
    <div
      *ngFor="let game of profile?.games"
      [routerLink]="['/game', game.id]"
      class="profile-games-item"
    >
      <img
        [src]="asset(game.banner.id)"
        alt="Banner"
        class="profile-games-item-banner"
      />
      <h3 class="profile-games-item-title">{{ game.title }}</h3>
    </div>
  </section>

  <h2>Friends</h2>
  <section class="profile-friends">
    <div
      class="profile-friends-item-trigger"
      *ngFor="let friend of profile?.friends"
    >
      <div class="profile-friends-item-mini-profile">
        <img
          [src]="asset(friend.profilePicture.id)"
          alt="Profile picture"
          class="profile-friends-item-mini-profile-profile-picture"
        />

        <span
          class="profile-friends-item-mini-profile-display-name"
          [ngClass]="{
            online: friend.status === 'online',
            offline: friend.status === 'offline',
            playing: friend.status === 'playing'
          }"
        >
          {{ friend.displayName }}
        </span>
        <span
          class="profile-friends-item-mini-profile-status"
          [ngClass]="{
            online: friend.status === 'online',
            offline: friend.status === 'offline',
            playing: friend.status === 'playing'
          }"
        >
          {{ friend.status | titlecase }}
        </span>
        <span class="profile-friends-item-mini-profile-level">
          {{ friend.level }} Steam Level
        </span>
      </div>

      <div
        [ngClass]="{
          online: friend.status === 'online',
          offline: friend.status === 'offline',
          playing: friend.status === 'playing'
        }"
        class="profile-friends-item"
      >
        <img
          [ngClass]="{
            online: friend.status === 'online',
            offline: friend.status === 'offline',
            playing: friend.status === 'playing'
          }"
          [src]="asset(friend.profilePicture.id)"
          alt="Profile picture"
          class="profile-friends-item-profile-picture"
        />

        <span class="profile-friends-item-display-name">
          {{ friend.displayName }}
        </span>
        <span class="profile-friends-item-status">{{ friend.status }}</span>

        <span class="profile-friends-item-level">{{ friend.level }}</span>
      </div>
    </div>
  </section>

  <ul class="profile-comments">
    <li *ngFor="let comment of comments" class="profile-comments-item">
      <img
        [src]="getProfilePicture(comment.user.profilePicture.id)"
        alt="comment profile picture"
        class="profile-comments-item-profile-picture"
      />
      <div>
        <p>
          <span class="profile-comments-item-display-name">
            {{ comment.user.displayName }}
          </span>
          |
          <span class="profile-comments-item-created-at">
            {{ comment.createdAt | date }}
          </span>
        </p>
        <span class="profile-comments-item-comment">{{ comment.comment }}</span>
        <app-submit-button
          (click)="onDelete(comment.id)"
          *ngIf="user?.id === comment.user.id"
          [loading]="isLoading"
          class="btn btn-red"
        >
          Delete
        </app-submit-button>
      </div>
    </li>
  </ul>

  <form [formGroup]="profileCommentForm" class="profile-comments-form">
    <label for="comment">
      Comment
      <textarea
        formControlName="comment"
        id="comment"
        rows="7"
        type="text"
      ></textarea>
    </label>
    <app-submit-button
      (click)="onSubmit()"
      [loading]="isLoading"
      class="btn btn-blue"
      type="submit"
    >
      Submit
    </app-submit-button>
  </form>
</section>

<section *ngIf="isReporting" class="report">
  <form [formGroup]="reportForm" class="report-form">
    <ngx-spinner
      [fullScreen]="false"
      type="line-scale-pulse-out-rapid"
    ></ngx-spinner>

    <label for="report-detail">
      <textarea
        formControlName="detail"
        id="report-detail"
        placeholder="Fill in the details..."
        rows="10"
      ></textarea>
    </label>

    <div class="report-form-actions">
      <button (click)="onReport()" class="btn btn-red" type="submit">
        Submit
      </button>
      <button (click)="isReporting = false" class="btn btn-black">Back</button>
    </div>
  </form>
</section>
