@use 'src/app/styles/spacings' as *;
@use 'src/app/styles/sizes' as *;

.profile {
  padding: $space-md;
  border-radius: $size-md;

  &-picture {
    display: flex;

    &-image {
      max-width: 164px;
      padding-right: $space-md;
    }

    &-display-name {
      padding-top: $space-md;
    }
  }

  &-actions {
    justify-self: flex-end;
    text-align: center;
  }

  &-comments {
    margin: $space-lg auto;

    &-item {
      display: flex;

      &-profile-picture {
        max-height: 32px;
        margin-right: $space-md;
      }
    }
  }
}
