@use 'src/app/styles/spacings' as *;
@use 'src/app/styles/sizes' as *;
@use 'src/app/styles/mixins' as *;

.profile {
  padding: $space-md;
  border-radius: $size-md;

  &-information {
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    grid-gap: $space-md;
    grid-template-areas:
      "profile-picture display-name level"
      "profile-picture summary actions";

    &-picture-image {
      grid-area: profile-picture;
      max-width: 164px;
      padding-right: $space-md;
    }

    &-display-name {
      grid-area: display-name;
      padding-top: $space-md;
    }

    &-summary {
      grid-area: summary;
    }

    &-level {
      grid-area: level;
      align-self: center;
    }

    &-actions {
      grid-area: actions;
    }
  }

  &-games {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: $space-md;

    &-item {
      @include clickable;
      text-align: left;
      background-color: rgba(0, 0, 0, 0.3);
      padding: $space-md;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      grid-gap: $space-md;

      &-banner {
        width: 184px;
        height: auto;
        object-fit: cover;
      }

      &-item {
      }
    }
  }

  &-friends {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: $space-md;

    .offline {
      color: #898989;
      border-color: #898989;
    }

    .online {
      color: #57cbde;
      border-color: #57cbde;
    }

    .playing {
      color: #90ba3c;
      border-color: #90ba3c;
    }

    &-trigger {
      position: relative;
    }

    &-item {
      display: grid;
      align-items: center;
      height: 64px;
      grid-template-columns: 64px 1fr auto;
      grid-template-areas:
        "picture name level"
        "picture status level";

      background-color: #171a21;
      color: inherit;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

      .offline {
        color: #898989;
        border-color: #898989;
      }

      .online {
        color: #57cbde;
        border-color: #57cbde;
      }

      .playing {
        color: #90ba3c;
        border-color: #90ba3c;
      }

      &-trigger {
        position: relative;
      }

      &-trigger:hover &-mini-profile {
        display: grid;
      }

      &-mini-profile {
        display: none;
        position: absolute;
        left: calc(-328px - 16px);
        width: 328px;
        z-index: 9;

        align-items: center;
        grid-gap: $space-md;
        grid-template-columns: auto 1fr;
        grid-template-areas:
          "image name"
          "image status"
          "level level";

        padding: $space-md;
        background: radial-gradient(
          ellipse farthest-corner at 20% 30%,
          rgb(76, 80, 91) 0%,
          rgb(52, 55, 63) 50%,
          rgb(40, 44, 50) 100%
        );

        &-profile-picture {
          @include image-control;
          grid-area: image;
          height: 90px;
          width: 90px;
        }

        &-display-name {
          text-align: left;
          grid-area: name;
        }

        &-status {
          text-align: left;
          grid-area: status;
        }

        &-level {
          text-align: left;
          grid-area: level;
        }
      }

      &-profile-picture {
        @include image-control;
        grid-area: picture;
        height: 64px;
        border-width: 1px;
        border-style: solid;
      }

      &-display-name {
        grid-area: name;
        color: inherit;
        margin-left: $space-md;
      }

      &-status {
        grid-area: status;
        color: inherit;
        margin-left: $space-md;
      }

      &-level {
        grid-area: level;
        color: inherit;
        margin-right: $space-md;
      }
    }
  }

  &-comments {
    margin: $space-lg auto;

    &-item {
      display: flex;

      &-profile-picture {
        max-height: 32px;
        margin-right: $space-md;
      }
    }
  }
}

.report {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &-form {
    position: relative;
    background: radial-gradient(
        circle at top left,
        rgba(74, 81, 92, 0.4) 0%,
        rgba(75, 81, 92, 0) 60%
      ),
      #25282e;
    width: 500px;
    padding: $space-lg;

    &-actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: $space-md;

      .btn {
        width: 100%;
      }
    }
  }
}
