@use 'src/app/styles/spacings' as *;
@use 'src/app/styles/mixins' as *;

.wishlist-cart {
  display: flex;
  flex-direction: row-reverse;

  .btn {
    &-cart {
      background-color: rgba(164, 208, 7, 0.4);
      padding: $space-sm;
      width: 100px;
      text-align: center;
    }

    &-wishlist {
      background-color: rgba(255, 255, 255, 0.4);
      padding: $space-sm;
      width: 100px;
      text-align: center;
    }
  }
}

.search-outer-container {
  background: rgba(62, 126, 167, 0.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);

  .search-inner-container {
    max-width: 450px;
    position: relative;
    margin-top: $space-lg;
    margin-bottom: $space-lg;
    margin-left: auto;

    label {
      display: flex;
    }

    .search {
      &-input {
        margin: 0;
      }

      &-result {
        position: absolute;
        right: 0;
        z-index: 999;
        background-color: #ffffff;

        hr {
          grid-area: separator;
          margin: 0;
        }

        &-game {
          @include clickable;
          text-align: left;
          margin: $space-md;
          display: grid;
          align-items: center;
          grid-template-columns: auto 1fr;
          grid-template-areas:
            "separator separator"
            "banner title"
            "banner price";

          &:hover {
            background-color: #171a21;
            color: #ffffff;
          }

          &-banner {
            grid-area: banner;
            height: 100px;
            width: auto;
            object-fit: cover;
            margin-right: $space-md;
          }

          &-title {
            grid-area: title;
          }

          &-price {
            grid-area: price;
          }
        }
      }
    }
  }
}
