<div class="relative">
  <app-navbar></app-navbar>

  <main>
    <div>
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer>
    <div>
      <img alt="Logo Valve" src="assets/logo_valve_footer.png" />

      <hr />

      <p>
        &copy; Valve Corporation. All rights reserved. All trademarks are
        property of their respective owners in the US and other countries
      </p>

      <hr />

      <p class="useful-links">
        <a
          href="https://store.steampowered.com/about/"
          rel="noopener noreferrer"
          target="_blank"
        >
          About
        </a>
        <a
          href="https://store.steampowered.com/privacy_agreement/?snr=1_44_44_"
          rel="noopener noreferrer"
          target="_blank"
        >
          Privacy Policy
        </a>
        <a
          href="https://store.steampowered.com/subscriber_agreement/?snr=1_44_44_"
          rel="noopener noreferrer"
          target="_blank"
        >
          Steam Subscriber Agreement
        </a>
        <a
          href="https://store.steampowered.com/steam_refunds/?snr=1_44_44_"
          rel="noopener noreferrer"
          target="_blank"
        >
          Refunds
        </a>
        <a
          href="https://store.steampowered.com/legal/?snr=1_44_44_"
          rel="noopener noreferrer"
          target="_blank"
        >
          Legal
        </a>
        <a
          href="https://www.valvesoftware.com/en/about"
          rel="noopener noreferrer"
          target="_blank"
        >
          About Valve
        </a>
        <a
          href="https://partner.steamgames.com/"
          rel="noopener noreferrer"
          target="_blank"
        >
          Steamworks
        </a>
        <a
          href="https://help.steampowered.com/en/?snr=1_44_44__23"
          rel="noopener noreferrer"
          target="_blank"
        >
          Support
        </a>
        <a
          href="https://store.steampowered.com/stats/"
          rel="noopener noreferrer"
          target="_blank"
        >
          Stats
        </a>
        <a
          href="https://steamcommunity.com/discussions/?snr=1_44_44__23"
          rel="noopener noreferrer"
          target="_blank"
        >
          Forum
        </a>
      </p>
    </div>
  </footer>
</div>
