@use 'src/app/styles/spacings' as *;

.game {
  &-title {
  }

  &-release-date {
  }

  &-developer {
  }

  &-publisher {
  }

  &-banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: $space-md 0;
  }

  &-next-in-queue {
    margin-left: auto;
  }

  &-description {
    margin: $space-md 0;
  }

  &-system-requirements {
    margin: $space-md 0;
  }
}
