@use 'src/app/styles/spacings' as *;
@use 'src/app/styles/mixins' as *;

.friends {
  grid-area: contents;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $space-md;

  &-item {
    background-color: rgba(29, 31, 36, 0.8);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: $space-md;
    height: fit-content;

    &:hover {
      box-shadow: 0 0 5px rgb(0 0 0 / 40%);
    }

    &-profile-picture {
      height: 64px;
      width: 64px;
      object-fit: cover;
    }

    &-display-name {
    }
  }
}
