<section class="relative">
  <app-home-side-bar></app-home-side-bar>

  <section class="home container">
    <app-search-bar></app-search-bar>

    <app-home-featured-and-recommended></app-home-featured-and-recommended>

    <section class="home-special-offers">
      <h2 class="letter-space">SPECIAL OFFERS</h2>
    </section>

    <section class="home-community-recommended">
      <h2 class="letter-space">THE COMMUNITY RECOMMENDS</h2>
    </section>

    <app-home-streaming-now></app-home-streaming-now>

    <section class="home-game-categories">
      <img alt="Logo Recommendation" src="assets/logo_steam_piston.png" />
      <h2 class="text-blue text-center">
        Keep scrolling for more recommendations
      </h2>
      <p class="text-gray text-center">
        Below, you'll find a variety of titles that you may be interested in
        from categories across Steam
      </p>
    </section>
  </section>
</section>
