<section class="container">
  <h2>Unsuspend Account Requests</h2>
  <a class="btn btn-blue" routerLink="../">Back</a>
  <div *ngIf="unsuspendRequests.length === 0">No unsuspend request.</div>
  <div *ngFor="let request of unsuspendRequests" class="card-request">
    <h2 class="card-request-header">{{ request?.accountName }}</h2>
    <div class="card-request-actions">
      <app-submit-button
        (click)="onApprove(request?.id)"
        [loading]="isLoading"
        class="btn btn-blue"
      >
        Approve
      </app-submit-button>
      <app-submit-button
        (click)="onDeny(request?.id)"
        [loading]="isLoading"
        class="btn btn-red"
      >
        Deny
      </app-submit-button>
    </div>
  </div>
</section>
