@use 'src/app/styles/spacings' as *;
@use 'src/app/styles/sizes' as *;

section {
  .card-request {
    border: 1px solid #475569;
    padding: $space-md;
    border-radius: $size-md;

    &-actions {
      display: flex;

      app-submit-button:nth-child(odd) {
        margin-right: $space-md;
      }
    }

    &:nth-child(even) {
      margin: $space-lg auto;
    }
  }
}
