<aside>
  <section>
    <h2>Discovery Queues</h2>
    <a>Recommendations</a>
    <a>New Releases</a>
  </section>
  <section>
    <h2>Browse Categories</h2>
    <a>Top Sellers</a>
    <a>New Releases</a>
    <a>Upcoming</a>
    <a>Specials</a>
    <a>Virtual Reality</a>
    <a>Controller Friendly</a>
  </section>
  <section>
    <h2>Browse Categories</h2>
    <a>Top Sellers</a>
    <a>New Releases</a>
    <a>Upcoming</a>
    <a>Specials</a>
    <a>Virtual Reality</a>
    <a>Controller Friendly</a>
  </section>
  <section>
    <h2>Browse by Genre</h2>
    <a>Free to Play</a>
    <a>Early Access</a>
    <a>Action</a>
    <a>Adventure</a>
    <a>Casual</a>
    <a>Casual</a>
  </section>
  <section>
    <h2>Your Tags</h2>
    <a>Utilities</a>
    <a>Medieval</a>
  </section>
</aside>
