<aside>
  <section>
    <h2>Discovery Queues</h2>
    <a>Recommendations</a>
    <a routerLink="/discover/new-releases">New Releases</a>
  </section>
  <section>
    <h2>Browse Categories</h2>
    <a [queryParams]="{ category: 'top_sellers' }" [routerLink]="['/search']">
      Top Sellers
    </a>
    <a [queryParams]="{ category: 'new_releases' }" [routerLink]="['/search']">
      New Releases
    </a>
    <a
      [queryParams]="{ category: 'special_offers' }"
      [routerLink]="['/search']"
    >
      Specials
    </a>
  </section>
  <section>
    <h2>Browse by Genre</h2>
    <a
      *ngFor="let genre of genres$ | async"
      [queryParams]="{ genres: genre.id }"
      routerLink="/search"
    >
      {{ genre.name }}
    </a>
  </section>
  <section>
    <h2>Your Tags</h2>
    <a
      *ngFor="let genre of userGenres$ | async"
      [queryParams]="{ genres: genre.id }"
      routerLink="/search"
    >
      {{ genre.name }}
    </a>
  </section>
</aside>
