<form [formGroup]="createPromoForm" class="container">
  <label for="discount">
    Discount
    <small
      *ngIf="
        createPromoForm.touched &&
        createPromoForm.controls.discount.errors?.required
      "
      class="text-red"
    >
      This field is required
    </small>
    <input formControlName="discount" id="discount" type="number" />
  </label>
  <label for="endAt">
    End At
    <small
      *ngIf="
        createPromoForm.touched &&
        createPromoForm.controls.endAt.errors?.required
      "
      class="text-red"
    >
      This field is required
    </small>
    <input formControlName="endAt" id="endAt" type="datetime-local" />
  </label>
  <app-submit-button
    (click)="onSubmit()"
    [loading]="isLoading"
    class="btn btn-blue"
    type="submit"
  >
    Submit
  </app-submit-button>
</form>
