@use 'src/app/styles/spacings' as *;
@use 'src/app/styles/mixins' as *;

.games {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: $space-md;
  grid-template-areas:
    "search-bar search-bar"
    "game-list game-filter";

  app-search-bar {
    grid-area: search-bar;
  }

  &-list {
    grid-area: game-list;

    &-item {
      position: relative;
      display: flex;

      &-row {
        display: grid;
        grid-gap: $space-md;
        grid-template-columns: 1fr 3fr 1fr 1fr;
        grid-template-areas: "banner title created-at price";
        align-items: center;
        height: fit-content;
        margin-bottom: $space-md;
        border: 1px solid rgba(139, 185, 224, 0);
        background-color: rgba(0, 0, 0, 0.2);

        &:hover {
          border: 1px solid rgba(139, 185, 224, 0.2);
          background-color: rgba(0, 0, 0, 0.4);
        }

        img {
          width: 100%;
        }

        &-banner {
          grid-area: banner;
        }

        &-title {
          grid-area: title;
        }

        &-created-at {
          grid-area: created-at;
        }

        &-price {
          grid-area: price;
        }
      }

      &:hover {
        .games-list-item-detail {
          display: block;
        }
      }

      &-detail {
        position: absolute;
        right: calc(-274px - 16px - 16px);
        display: none;
        padding: $space-md;
        background-color: #ffffff;

        &-title {
          color: #000000;
        }

        &-released {
          display: block;
          color: #000000;
        }

        &-banner {
          width: 274px;
          height: auto;
          object-fit: cover;
        }

        &-tags {
          display: flex;
          flex-wrap: wrap;
          width: 274px;

          &-item {
            @include tag;
            display: inline-block;
            background: rgba(0, 0, 0, 0.2);
            color: #000000;

            &:nth-child(odd) {
              margin-right: $space-md;
            }
          }
        }
      }
    }
  }

  &-filter {
    grid-area: game-filter;

    &-price {
      &-title {
      }

      &-input {
      }

      &-info {
      }
    }

    &-tags {
      &-title {
      }

      &-radio {
        display: grid;
        grid-template-columns: auto;
        overflow: auto;
        height: 350px;

        &-input {
          width: fit-content;
          display: inline;
        }

        &-label {
        }
      }
    }

    &-category {
      &-title {
      }

      &-input {
      }
    }

    .btn {
      width: 100%;
    }
  }
}
